.landingDiv {
    height: calc(100vh - 120px);
    width: 100%;
    background-image: url("../../../assets/image/Iron-Maiden2-min.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: opacity(80%);
}