<app-header></app-header>

<div class="loginSection">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active" routerLink="/login"> Sign In </h2>
        <h2 class="inactive underlineHover" routerLink="/register">Sign Up</h2>
    
        <!-- Icon 
        <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>-->

        <p class="errorServer" *ngIf="error">
          {{error | uppercase}}
        </p>
    
        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <input formControlName="username" type="text" id="login" class="fadeIn second" placeholder="login">
          <input formControlName="password" type="password" id="password" class="fadeIn third" placeholder="password">
          <input type="submit" class="fadeIn fourth cursorButton" value="Log In">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" routerLink="/forgot_password">Forgot Password?</a>
        </div>
    
      </div>
    </div>
</div>

