
<app-header></app-header>

<div class="loginSection">
  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
      </div>

      <p class="errorServer" *ngIf="error">
        {{error | uppercase}}
      </p>

      <!-- Login Form -->
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <input formControlName="password" type="password" id="password" class="fadeIn second" placeholder="Reseted password">
        <input formControlName="newPassword" type="password" id="newPassword" class="fadeIn third" placeholder="New Password">
        <input type="submit" class="fadeIn fourth cursorButton" value="Update">
      </form>

    </div>
  </div>
</div>